.table-responsive {
  max-width: 800px;
  margin: 0 auto;
}

th {
  font-size: 1.1rem;
  font-weight: bold;
}

td, th {
  padding: 0.75rem;
}

.table-bordered th, .table-bordered td {
  border-width: 2px;
}